<div class='image-card'>
  <a href='{{largeImageURL}}' class='image-card__link'><img
      src='{{webformatURL}}'
      class='image-card__image'
      srcset='{{webformatURL}} 1x, {{largeImageURL}} 2x'
      alt='{{tags}}'
      loading='lazy'
    /></a>
  <ul class='image-card__info'>
    <li>
      <h3>Лайки</h3>
      <p>{{likes}}</p>
    </li>
    <li>
      <h3>Просмотры</h3>
      <p>{{views}}</p>
    </li>
    <li>
      <h3>Комментарии</h3>
      <p>{{comments}}</p>
    </li>
    <li>
      <h3>Загрузки</h3>
      <p>{{downloads}}</p>
    </li>
  </ul>
</div>